networks:
  zlmediakit_default:
    external: true
services:
  wvp:
    container_name: wvp
    restart: always
    image: openjdk:11
    volumes:
      # 本地jar包路径
      - ./wvp.jar:/wvp.jar
      # 配置文件路径
      - ./wvp.yml:/wvp.yml
      - ./logs:/logs
      # 指定容器时间为宿主机时间
      - /etc/localtime:/etc/localtime
      # 访问端口
    ports:
      - "45009:45009"
      - "45008:45008"
      - "45008:45008/udp"
      - "45010:45010"
    environment:
      # 指定时区
      - TZ="Asia/Shanghai"
      # 启动容器后执行的命令
    entrypoint: java -jar wvp.jar --spring.config.location=wvp.yml
      # 指定IP地址
    networks:
      zlmediakit_default:
        ipv4_address: 172.20.0.3
  web:
    build: 
      context: ./web
    container_name: web_wvp
    ports:
      - "45011:80"
    networks:
      zlmediakit_default:
        ipv4_address: 172.20.0.4
    volumes:
      # 配置文件挂载
      - ./web/static:/usr/share/nginx/html
      - ./web/nginx.conf:/etc/nginx/nginx.conf
        # restart: always